@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using System.Security.Claims; 

<link rel="stylesheet" href="~/css/custom.css" />

<div class="text-center">
    <h1 class="display-4">Welcome to the Community Board!</h1>
</div>
<hr class="text-black-50"/>
<section>
	<div class="container">
		<form method="GET" class="text-center pb-4">
			<div class="input-group">
				<input type="text" asp-for="SearchTerm" 
				       class="form-control"
				       placeholder="Start Searching!"/>
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary">
						Search
					</button>
				</div>
			</div>
		</form>
		
		@Html.ValidationSummary(false, "", new {@class = "text-danger"})
		
		@if (Model.Announcements != null)
		{
			if (Model.Announcements.Any())
			{
				<div class=" grid" style="column-count: 3">
					@foreach (var announcement in Model.Announcements)
					{
						<div class="col-lg-4 mb-4 grid-item">
							<div class="card">
								@if (announcement.Image != null)
								{
									<img src="@Model.RetrieveImage(announcement.Image)" alt="image" class="card-img-top">
								}
								<div class="card-body">
									<h5 class="card-title">@announcement.Name</h5>
									<p class="card-text">@announcement.Type</p>
									<p class="card-text">@announcement.Description</p>
								</div>
								
								@{ 
									var user = (ClaimsIdentity)User.Identity;
								}

								<div class="card-footer">
									@if (user.IsAuthenticated)
									{
										if (!Model.IsAnnouncementMine(announcement.UserId))
										{
											<a @* href="@Url.Page("/Contact", new {announcementId = announcement.Id})" *@
												class="btn btn-outline-success btn-sm transition"
												onclick="openForm(@announcement.Id)">
												Contact
											</a>
										}
									}
									else
									{
										<a class="btn btn-outline-success btn-sm transition"
										   asp-page="Authentication/Register">
											Contact
										</a>
									}
										
									<div class="chat-popup" id="chatPopupForm-@announcement.Id">
										<form asp-page-handler="SendMessage" class="form-container"
										      id="messageForm-@announcement.Id">
											<h1>Chat @announcement.Name</h1>
											<label for="msg"><b>Message</b></label>
											<textarea placeholder="Type message.."
													asp-for="Message"
													id="msg" 
													form="messageForm-@announcement.Id"
													required></textarea>
											<input type="hidden" name="userId" value="@announcement.UserId">
											<button type="submit"
											        class="btn btn-outline-success transition">Send</button>
											<button type="button"
											        class="btn cancel btn-outline-danger transition"
											        onclick="closeForm(@announcement.Id)">Close</button>
										</form>
									</div>

									@if (!Model.IsAnnouncementMine(announcement.UserId))
									{
										<a href="@Url.Page("/Report", new {announcementId = announcement.Id})"
										   class="btn btn-outline-danger btn-sm float-right transition">
											<i class="fa fa-flag"></i>
										</a>
									}
								</div>
							</div>
						</div>
					}
				</div>
			}
			else
			{
				<h1 class="lato-bold text-danger text-center">
					No Announcements Found.
				</h1>
			}
		}
		else 
		{ 
			<h1 class="lato-bold text-danger text-center">
				No Announcements Found.
			</h1>

			@*<h1 class="lato-bold text-danger text-center">
				There was an error with the server, please come back later.
				We'll be fixing this soon (Hopefully...)
			</h1>*@
		}
	</div>
</section>

@section Scripts {
	<script>
		$('.grid').masonry({
			itemSelector: '.grid-item',
			columnWidth: 160,
			gutter: 20
		});
		
		let openChatPopupId = null;
		
		function openForm(announcementId) {
			if (openChatPopupId) closeForm(openChatPopupId);
			openChatPopupId = announcementId;
          	document.getElementById(`chatPopupForm-${announcementId}`).style.display = "block";
        }
        
        function closeForm(announcementId) {
          	document.getElementById(`chatPopupForm-${announcementId}`).style.display = "none";
        }
	</script>
}

<style>
	/*Style and idea from: 
	https://www.w3schools.com/howto/howto_js_popup_chat.asp*/
	.chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    
	/* Add styles to the form container */
	.form-container {
	  max-width: 300px;
	  padding: 10px;
	  background-color: white;
	}
	
	/* Full-width textarea */
	.form-container textarea {
	  width: 100%;
	  padding: 15px;
	  margin: 5px 0 22px 0;
	  border: none;
	  background: #f1f1f1;
	  resize: none;
	  min-height: 200px;
	}
	
	/* When the textarea gets focus, do something */
	.form-container textarea:focus {
	  background-color: #ddd;
	  outline: none;
	}
</style>